{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mongo": true    
  }, 
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "global-require": "off",
    "eol-last": "off",
    "function-paren-newline": "off",
    "no-underscore-dangle": "off",
    "func-names": "off",
    "space-before-function-paren": "off"
  }
}