.header-container 
  display: flex
  flex-direction: row
  justify-content: space-around
  background-color: #fff
  padding: 5px 0

  .header-brand
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

    a  
      text-decoration: none

    .camera-logo
      border-right: 1px solid rgba(0, 0, 0, 0.7)
      margin-right: 20px

      i 
        display: block
        margin-right: 20px

    h1 
      font-size: 28px

      &:hover
        color: lighten($link-color, 60%)
  
  .header-search
    align-self: center

    input 
      text-align: center
      width: 250px
      border-radius: 3px 
      border: 1px solid rgba(0, 0, 0, 0.2)
      height: 26px
      outline: none

  .header-summary
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

    .notification 
      margin-right: 40px
  