.login-page-container
  background-color: #FFF
  padding: 10px 70px 50px 70px
  height: 100%

  .logo 
    font-family: 'Lobster', cursive

  h1 
    text-align: center

  input
    height: 45px
    margin-bottom: 5px
    background-color: $bg-color
    border: 0.2px solid rgba(0, 0, 0, 0.1) !important
    outline: none !important

  .split-line-container 
    display: flex
    flex-direction: row
    margin: 10px 0
  
  .split-line
    height: 1px
    flex: 1
  
